body {
  max-width: 800px;
  margin: auto;
  padding: 3em 1.5em;
  font-family: Arial, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5em;
}

hr {
  margin: 4em 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.icon {
  height: 1.2em;
  width: auto;
  margin-right: 6px !important;
}

.displayname {
  font-weight: bold;
}

.username,
.date,
.tweet_footer {
  color: #4F6572;
}

.date,
.tweet_footer {
  font-size: 0.85em;
}
.color--lightgrey {
  color: #d9d9d9;
}

.color--darkgrey {
  color: #4F6572;
}

.color--twitterblue {
  color: #1d9bf0;
}

.font--smaller {
  font-size: 0.85em;
}

.font--larger {
  font-size: 1.25em;
}


/* containers */

.wrapper {
  max-width: 500px;
  font-family: -apple-system, BlinkMacSystemFont, Arial, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.wrapper p {
  margin: 0;
  line-height: 1.4;
}

.wrapper :last-child {
border-bottom: none;
}

.container_box {
  margin: 0;
  padding: 16px;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
}

.profile_photo {
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

.tweet_content {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  margin-left: -22px;
  border-left: 3px solid white;
  width: 100%;
}

.tweet_text {
  margin-top: 12px !important;
  margin-bottom: 16px !important;
}

.text_linebreak {
  margin-top: 16px !important;
}

.tweet_img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 16px !important;
  display: block;
}

.tweet_footer {
  display: flex;
}

.tweet_footer .row {
  width: 100%;
}
.tweet_footer .icon {
  font-size: 1.1em;
}

.tweet_footer--last {
  max-width: fit-content;
}

.tweet_footer--last .icon {
  max-width: fit-content;
  margin-right: 0 !important;
}

.tweet_reply--first {
  padding-top: 16px;
  padding-bottom: 0;
  border-bottom: none;
}

.tweet_reply--between {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.tweet_reply--first .tweet_footer,
.tweet_reply--between .tweet_footer {
  padding-bottom: 24px;
}

.tweet_reply--first .tweet_content,
.tweet_reply--between .tweet_content {
  border-left: 3px solid #d9d9d9 !important;
}

.tweet_reply--last {
  padding-top: 0;
}

.tweet_replyTo {
  color: #4F6572;
  font-size: 0.85em;
  margin-bottom: 1em !important;
}


/* --- account --- */

.account_box {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.account_header img {
  width: 100%;
}

.account_userNames,
.account_userBio,
.account_userMeta {
  margin-bottom: 16px;
}

.account_followMeta {
  display: flex;
  margin-bottom: 24px;
}

.account_followMeta div:first-child {
  margin-right: 24px;
}

.account_tabs {
  display: flex;
  justify-content: space-between;
}

.tab {
 padding-bottom: 8px;
 color: #4F6572;
}

.active {
  font-weight: bold;
  color: black;
  border-bottom: 4px solid #1D9BF0;
} 

/*--temp for testing--*/

.break {
  margin: 75px 0;
  background-color: #d9d9d9;
  height: 10px;
}